* {
    margin: 0px;
    padding: 0px;
}

.btn-dark {
    background-color: rgba(13, 19, 33, 1);
    color: white;
    border-radius: 8px;
    border: 2px solid black;
    font-size: medium;
    width: 208px;
    height: 56px;
}

.btn-white {
    background-color: white;
    color: rgba(13, 19, 33, 1);
    border-radius: 8px;
    border: 2px solid black;
    font-size: medium;
    width: 180px;
    height: 48px;
}

.btn-white:hover {
    background-color: black;
    color: white;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    width: 80%;
    margin-inline: auto;
}

.justify-around {
    justify-content: space-around;
}

nav {
    margin: 30px 0px 30px 0px;
}

.font-bold {
    font-weight: 900;
}

.font-large {
    font-size: 2rem;
}

.font-medium {
    font-size: medium;
}

.hero-section {
    height: 65vh;
    width: 100%;
    background-image: url("./assets/Hero-bg.png");
    object-fit: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.feature-section {
    text-align: center;
    background-color: rgba(13, 19, 33, 0.02);
    padding: 80px 97px 80px 97px;
    margin: 50px 0px 50px 0px;
}

.card {
    display: flex;
    padding: 40px;
    align-items: center;
    justify-content: space-around;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: start;
    width: 60%;
}

.bg-gradient-right {
    background: linear-gradient(to right,
            rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 0));
}

.bg-gradient-left {
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 1));
}

.gap-md {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.my-large {
    margin: 25px 0px 35px 0px;
}

.my-medium {
    margin: 25px 0px 25px 0px;
}

.my-sm {
    margin: 10px 0px 10px 0px;
}

.video-frame {
    border-radius: 16px;
    border: 0.5px solid rgb(204, 201, 201);
    padding: 20px;
    background-color: rgba(13, 19, 33, 0.02);
    width: fit-content;
}

.video-frame>iframe {
    border-radius: 16px;
}

.inspiration-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.skill-card {
    width: 23%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    align-items: start;
    padding: 20px;
    border-radius: 16px;
    text-align: start;
}

.card-group {
    width: 90%;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 25px;
}

.target-section>.current-target {
    margin-top: 30px;
    text-align: center;
}

.bg-yellow-200{
    background: rgba(255, 223, 0, 0.05);
}
.bg-blue-200{
    background: rgba(0, 76, 232, 0.05);
}
.bg-orange-200{
    background: rgba(255, 76, 30, 0.05);
}
.card-lg{
    text-align: start;
    display: flex;
    align-items: center;
    gap: 5rem;
    margin: 20px;
    border: 1px solid rgb(146, 138, 138);
    padding: 30px 20px 30px 20px;
    border-radius: 10px;
}
.next-target{
    text-align: center;
    margin-top: 30px;
}
.scroll{
    text-decoration: none;
    border: 2px solid;
    padding: 12px 15px 12px 15px;
    font-size: 1.5rem;
    border-radius: 8px;
    color: white;
    background-color: black;
}
.card-img{
    width: 15%;
}
.card-content{
    width: 80%;
}
.contact{
    background: url("/assets/handshake.jpg");
    background-position: center;
    border-radius: 10px;
    padding: 50px 30px 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 30px;
    width: 75%;
    margin-inline: auto;
}
input{
    width: 350px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.submit{
    padding: 8px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}
.input-group{
    display: flex;
    align-items: center;
    gap: 5px;
}
.submit:hover{
    background-color: black;
    color: white;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(13, 19, 33, 0.03);
    padding: 10px 30px 10px 30px;
}
footer>div{
    display: flex;
    gap: 15px;
}